name: "CI"
on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  node-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
      - name: Install npm dependencies
        run: npm ci

      - name: Build
        run: npm run build
      - name: Run Tests
        run: npm test
      - name: Test Example
        run: |
          cd example
          npm i
          npm run example
